@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap");

html,
* {
  box-sizing: border-box;
}
body {
  overflow-x: hidden;
}

.wrapper {
  width: 300px;
  padding: 0 10px;
  margin: 0 auto;
  position: relative;
  z-index: 20;
}

@media screen and (min-width: 481px) {
  .wrapper {
    width: 420px;
  }
}
@media screen and (min-width: 601px) {
  .wrapper {
    width: 600px;
  }
}
@media screen and (min-width: 769px) {
  .wrapper {
    width: 768px;
  }
}
@media screen and (min-width: 1024px) {
  .wrapper {
    width: 950px;
  }
}
@media screen and (min-width: 1200px) {
  .wrapper {
    width: 1100px;
    padding: 0;
  }
}
@media screen and (min-width: 1440px) {
  .wrapper {
    width: 1300px;
  }
}

header,
main,
footer {
  position: relative;
  transition: left 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
}

/* main {
  margin-top: 80px;
} */

/* header */
header {
  position: fixed;
  width: 100%;
  z-index: 22;
  top: 0;
  left: 0;
  background-color: #fff;
}
.menu {
  position: relative;
  z-index: 20;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 25px 0;
  background-color: #fff;
}

.menu-wrapper {
  width: 300px;
  margin: 0 auto;
}

@media screen and (min-width: 481px) {
  .menu-wrapper {
    width: 420px;
  }
}
@media screen and (min-width: 601px) {
  .menu-wrapper {
    width: 600px;
  }
}
@media screen and (min-width: 769px) {
  .menu-wrapper {
    width: 768px;
  }
}
@media screen and (min-width: 1024px) {
  .menu {
    width: 100%;
    padding: 25px 25px;
  }
}

.menu-logo {
  height: 29px;
}

.menu-icon__left {
  border: unset;
  outline: unset;
  background-color: transparent;
  cursor: pointer;
}

@media screen and (min-width: 1024px) {
  .menu-icon__left,
  .menu-bar-mobile {
    display: none;
  }
}

.menu-bar-mobile-wrapper {
  background-color: #fff;
  overflow: hidden;
  height: 0;
  transition: 0.2s ease-in-out;
}

.menu-bar-mobile-wrapper.open {
  /* 180px */
  height: 180px;
  transition: 0.2s ease-in-out;
}

.menu-bar-mobile a {
  width: 100%;
  text-decoration: none;
  color: #8d8d8d;
  font-size: 13px;
  line-height: 17px;
  font-family: "Open Sans", sans-serif;
  padding: 9px 0;
  border-bottom: 1px solid #eaeaea;
  display: inline-block;
}

.menu-bar-mobile a:hover {
  color: #c7a17a;
}

.menu-bar-mobile ul li:last-child a {
  border-bottom: none;
}

.menu-bar {
  display: flex;
  align-items: center;
}

.menu-bar .menu-bar__icon-menu,
.menu-bar .menu-bar__cart-dropdown,
.menu-links {
  display: none;
}

@media screen and (min-width: 1024px) {
  .menu-links,
  .menu-bar > div {
    display: flex;
    align-items: center;
  }
  .menu-bar .menu-bar__cart-dropdown,
  .menu-bar .menu-bar__icon-menu {
    display: block;
  }
}

.menu-links a {
  text-decoration: none;
  display: inline-block;
  padding: 0 17px;
  font-size: 15px;
  line-height: 22px;
  font-weight: 700;
  color: #30271c;
  font-family: "Oswald", sans-serif;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}

.menu-links a.active {
  color: #c7a17a;
}

.menu-links a:hover {
  color: #c7a17a;
}

.menu-bar__cart {
  border-left: 2px solid rgba(0, 0, 0, 0.5);
}

.menu-bar__icon-cart,
.menu-bar__icon-menu {
  padding: 3px 17px;
  color: #30271c;
  text-decoration: none;
  cursor: pointer;
  position: relative;
}

.menu-bar__icon-cart:hover,
.menu-bar__icon-menu:hover {
  color: #c7a17a;
}

.menu-bar__icon .menu-bar__icon-cart {
  padding-right: 12px;
}

.menu-bar__cart-amount {
  position: absolute;
  top: 0;
  right: 5px;
  font-size: 9px;
  color: #fff;
  background-color: #c7a17a;
  display: inline-block;
  vertical-align: middle;
  height: 16px;
  width: 16px;
  line-height: 16px;
  text-align: center;
  font-family: "Open Sans", serif;
  font-weight: 700;
}

.menu-bar__cart {
  position: relative;
}

.menu-bar__cart-dropdown {
  position: absolute;
  width: 320px;
  padding: 20px;
  background-color: #fff;
  top: calc(100% + 31px);
  right: 0;
  transition: 0.2s ease-in-out;
  visibility: hidden;
  opacity: 0;
  overflow: hidden;
  border-top: 2px solid #c7a17a;
}

.menu-bar__cart-dropdown > ul {
  max-height: 290px;
  overflow-y: auto;
}

.menu-bar__cart:hover .menu-bar__cart-dropdown {
  visibility: visible;
  opacity: 1;
  transition: 0.2s ease-in-out;
}

.menu-bar__cart-empty {
  color: #888;
  font-size: 14px;
  font-family: "Open Sans", serif;
  padding: 15px;
}

.menu-bar__cart-item,
.menu-bar__cart-info {
  display: flex;
  justify-content: space-between;
}

.menu-bar__cart-dropdown > ul .menu-bar__cart-item:not(:last-child) {
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 2px solid #efefef;
}

.menu-bar__cart-img {
  display: inline-block;
  width: 73px;
}

.menu-bar__cart-info {
  flex: 1;
  padding-left: 15px;
}

.menu-bar__cart-name {
  line-height: 1em;
  font-size: 14px;
  font-weight: 700;
  color: #30271c;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  text-decoration: none;
}

.menu-bar__cart-quantity {
  display: block;
  font-size: 12px;
  font-family: "Merriweather", serif;
  margin-top: 2px;
  color: #666;
  margin-bottom: 12px;
  font-style: italic;
}

.menu-bar__cart-price {
  color: #c7a17a;
  font-family: "Open Sans", serif;
  font-size: 14px;
  text-decoration: none;
}

.menu-bar__cart-close {
  align-self: start;
  background-color: unset;
  border: unset;
  outline: unset;
  cursor: pointer;
}

.menu-bar__cart-close:hover {
  color: #c7a17a;
}

.menu-bar__cart-total {
  margin: 0 0 21px 0;
  border-bottom: 2px solid #efefef;
  border-top: 2px solid #efefef;
  padding: 10px 0;
  font-size: 14px;
  font-family: "Merriweather", serif;
  font-weight: 700;
  font-style: italic;
  color: #30271c;
  text-align: right;
}

.menu-bar__cart-total span.amount {
  color: #c7a17a;
}

.menu-bar__cart-btn {
  display: flex;
  justify-content: space-between;
}

.menu-bar__cart-btn > a {
  display: inline-block;
  width: calc(50% - 2px);
  font-size: 11px;
  padding: 11px 27px;
  background-color: #c7a17a;
  border: 2px solid #c7a17a;
  color: #fff;
  text-decoration: none;
  text-align: center;
  font-style: normal;
  font-weight: 800;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  font-family: "Open Sans", sans-serif;
  outline: none;
}

.menu-bar__cart-btn > a:hover {
  background-color: #30271c;
  border-color: #30271c;
}

/* // */
.menu-right {
  height: 100vh;
  width: 26%;
  position: fixed;
  z-index: 24;
  top: 0;
  right: -40%;
  background-color: #eae7de;
  overflow-x: hidden;
  padding: 2% 60px 30px 60px;
}

.menu-right.open {
  right: 0;
  transition: 0.2s ease-in-out;
}

.menu-right__close {
  text-align: right;
}

.menu-right__close-icon {
  background-color: transparent;
  outline: none;
  border: none;
  font-size: 20px;
  color: #9d9d9d;
  transform: rotate(0deg);
  transition: 0.5s;
  cursor: pointer;
}
.menu-right__close-icon:hover {
  transform: rotate(180deg);
  transition: 0.3s;
}

.menu-right__img {
  text-align: center;
  margin-bottom: 20px;
}

.menu-right__text {
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  line-height: 26px;
  color: #666;
  font-weight: 400;
}

.menu-right__social {
  text-align: center;
  margin-top: 20px;
}

.menu-right__social-icon {
  padding: 0 10px;
  color: #c7a17a;
  text-decoration: none;
  font-size: 20px;
}

.menu-right__social-icon:hover {
  color: #333;
}

.menu-right__backdrop {
  display: none;
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: #000;
  opacity: 0.6;
  z-index: 22;
  right: 0;
  left: 0;
  cursor: crosshair;
}

/* Banner slider */
.single-item .slick-prev {
  left: 25px;
  transition: 0.2s;
  z-index: 10;
}
.single-item .slick-prev:hover {
  left: 21px;
  transition: 0.2s;
}

.single-item .slick-arrow::before {
  font-family: "Font Awesome 5 pro";
  font-size: 30px;
  color: black;
}

.single-item .slick-prev::before {
  content: "\f177";
}

.single-item .slick-next {
  right: 25px;
  transition: 0.2s;
}
.single-item .slick-next:hover {
  right: 21px;
  transition: 0.2s;
}

.single-item .slick-next::before {
  content: "\f178";
}

.single-item .slick-dots {
  bottom: 30px;
}

.single-item .slick-dots li button::before {
  content: "";
  height: 10px;
  width: 10px;
  background-color: #000;
  color: #000;
  border-radius: 50%;
  opacity: 1;
}

.single-item .slick-dots li.slick-active button::before {
  content: "";
  height: 12px;
  width: 12px;
}

.banner-slider {
  background-size: cover;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
  background-position: center;
}

/* Banner */
.banner {
  display: flex;
  flex-direction: column;
  margin: 80px -15px 40px;
}

@media screen and (min-width: 992px) {
  .banner {
    flex-direction: row;
  }
}

.banner__item {
  margin-bottom: 40px;
  display: inline-block;
  position: relative;
  padding: 0 15px;
  flex: 1;
}

.banner__item:hover .banner__read-more i {
  transform: translateX(5px);
  transition: 0.3s;
}

.banner__read-more i {
  transform: translateX(0);
  transition: 0.3s;
  font-size: 16px;
  margin-left: 5px;
}

.banner__read-more {
  display: flex;
  align-items: center;
  position: absolute;
  font-size: 12px;
  font-family: "Open Sans", sans-serif;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  position: absolute;
  top: auto;
  bottom: 15%;
  z-index: 2;
  left: 10%;
  text-decoration: none;
  color: #fff;
}

/* Title */
.title {
  margin-bottom: 80px;
  text-align: center;
}

.title-sub {
  font-family: "Merriweather", serif;
  font-size: 18px;
  font-style: italic;
  line-height: 27px;
  letter-spacing: 0;
  color: #c7a17a;
  margin: 0;
}

.title-main {
  margin: 20px 0;
  font-size: 35px;
  letter-spacing: 1px;
  line-height: 1.14286em;
  font-family: "Oswald", sans-serif;
  color: #30271c;
  font-weight: 700;
  text-transform: uppercase;
}

.title-separator {
  border-color: #c7a17a;
  width: 120px;
  border-bottom-width: 2px;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  border-bottom: 2px solid #c7a17a;
  margin: 5px 0;
}

/* product slider */
.multiple-items .slick-slide {
  border: none;
  outline: none;
}
.multiple-items .slick-prev {
  z-index: 10;
}

@media screen and (max-width: 767px) {
  .multiple-items .slick-prev {
    left: -10px;
  }
  .multiple-items .slick-next {
    right: -5px;
  }
}

.multiple-items .slick-arrow::before {
  font-family: "Font Awesome 5 pro";
  font-size: 25px;
  color: black;
}

.multiple-items .slick-prev::before {
  content: "\f0a8";
}

.multiple-items .slick-next::before {
  content: "\f0a9";
}

.product-wrapper {
  margin: 0 -10px;
}

.product {
  padding: 10px;
  border: none;
  outline: none;
}

.product__name {
  margin-bottom: 8px;
}

.product__name > a {
  font-weight: 700;
  font-size: 19px;
  color: #333;
  font-family: "Oswald", sans-serif;
  outline: none;
  text-transform: uppercase;
  text-decoration: none;
}

.product__name > a:hover {
  color: #c7a17a;
  text-decoration: none;
}

.product__price-wrapper {
  display: flex;
  margin-top: 8px;
}

.product__price {
  font-family: "Merriweather" !important;
  font-weight: 400;
  font-size: 18px;
}

.product__price--old {
  text-decoration: line-through;
  color: #cfcfcf;
  margin-right: 10px;
}

.product__price--new {
  color: #c7a17a;
}

.product__img-wrapper {
  overflow: hidden;
  position: relative;
  margin-bottom: 15px;
}

.product__add-to-cart-button {
  width: 100%;
  color: #fff;
  background-color: rgba(199, 161, 122, 0.93);
  outline: none;
  border: none;
  cursor: pointer;
  height: 50px;
  overflow: hidden;
  position: absolute;
  bottom: -50px;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 700;
  transition: 0.3s;
}

@media screen and (max-width: 768px) {
  .product__add-to-cart-button {
    bottom: 0;
  }
}

.product:hover .product__add-to-cart-button {
  bottom: 0;
  transition: 0.3s;
}

.product-sale {
  position: absolute;
  top: 15px;
  left: 15px;
  background-color: rgba(199, 161, 122, 0.93);
  color: #fff;
  font-weight: 700;
  height: 32px;
  line-height: 32px;
  padding: 0 17px;
  font-family: "Open Sans", sans-serif;
  font-size: 11px;
  letter-spacing: 1.5px;
}

/* banner-sale */
.banner-sale {
  margin-bottom: 80px;
  margin-top: 76px;
  height: 40.8vh;
  background-image: url("https://barista.qodeinteractive.com/wp-content/uploads/2017/01/shop-home-grid-img.jpg?id=12748");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

@media screen and (max-width: 480px) {
  .banner-sale {
    height: 38vh;
    margin: 80px -15px 76px;
  }
}

.banner-sale > div {
  position: absolute;
  left: 50%;
  top: 60%;
  transform: translate(-50%, 0%);
  width: 100%;
  text-align: center;
}

.banner-sale button {
  border: 2px solid #efefef;
  color: #efefef;
  background-color: transparent;
  display: inline-block;
  position: relative;
  outline: 0;
  font-style: normal;
  font-weight: 800;
  letter-spacing: 2.5px;
  padding: 14px 35px;
  font-size: 13px;
  line-height: 1.7em;
  text-transform: uppercase;
  font-family: "Open Sans", sans-serif;
  cursor: pointer;
  transition: color 0.3s cubic-bezier(0.55, 0.21, 0.51, 0.75),
    background-color 0.3s cubic-bezier(0.55, 0.21, 0.51, 0.75),
    border-color 0.3s cubic-bezier(0.55, 0.21, 0.51, 0.75);
}

.banner-sale button:hover {
  border: 2px solid #fff;
  color: #333;
  background-color: #fff;
}

/* News slider*/

.slider-news .slick-slide {
  border: none;
  outline: none;
}

.slider-news .slick-prev {
  z-index: 10;
}

@media screen and (max-width: 767px) {
  .slider-news .slick-prev {
    left: -15px;
  }
  .slider-news .slick-next {
    right: -10px;
  }
}

.slider-news .slick-arrow::before {
  font-family: "Font Awesome 5 pro";
  font-size: 25px;
  color: black;
}

.slider-news .slick-prev::before {
  content: "\f0a8";
}

/* .slider-news .slick-next {
  right: 25px;
} */

.slider-news .slick-next::before {
  content: "\f0a9";
}

.slide-news-wrapper {
  margin: 0 -10px;
}

.news {
  padding: 0 10px;
  outline: none;
}

.news-img {
  height: 250px;
}

.news-img a {
  display: inline-block;
  width: 100%;
  height: 100%;
  background-size: cover;
  outline: none;
}

.news-title a {
  font-weight: 700;
  font-size: 18px;
  color: #333;
  font-family: "Oswald", sans-serif;
  color: #333;
  text-decoration: none;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  line-height: 1.2;
  margin: 10px 0;
}

.news-desc {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  font-size: 16px;
  color: #808080;
  font-family: "Oswald", sans-serif;
  margin-bottom: 10px;
  line-height: 1.2;
}

.news-read-more a {
  text-decoration: none;
  outline: none;
  font-size: 16px;
  color: #808080;
}

/* Footer */
footer {
  background-image: url("https://barista.qodeinteractive.com/wp-content/uploads/2017/02/footer-img.jpg");
  padding: 70px 0 41px;
  margin-top: 80px;
  background-size: cover;
  background-repeat: no-repeat;
}

.footer {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 769px) {
  .footer {
    flex-direction: row;
  }
}

.footer__item {
  flex: 1;
  padding: 15px;
}

.footer__title {
  font-size: 19px;
  color: #fff;
  margin-bottom: 40px;
  font-family: "Oswald", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
}

.footer__title--small {
  font-size: 14px;
  margin-bottom: 20px;
}

.working-hours {
  width: 70%;
}

@media screen and (min-width: 768px) {
  .working-hours {
    width: 100%;
  }
}
@media screen and (min-width: 1024px) {
  .working-hours {
    width: 70%;
  }
}

.working-hours > p {
  display: flex;
  align-items: baseline;
  margin-bottom: 15px;
}

.working-hours > p span {
  display: inline-block;
  height: 1px;
  flex: 1;
  background-color: rgba(168, 164, 161, 0.25);
}

.working-hours > p label:first-child {
  padding-right: 5px;
  font-size: 14px;
  color: #fff;
  font-family: "Oswald", sans-serif;
}

.working-hours > p label:last-child {
  padding-left: 5px;
  font-size: 14px;
  color: #acacac;
  font-family: "Oswald", sans-serif;
}

.working-hours > p label.close-bee {
  color: #c7a17a !important;
}

.recent-post > li {
  margin-bottom: 13px;
  padding-bottom: 15px;
  border-bottom: 1px solid rgba(168, 164, 161, 0.25);
}

.recent-post__title {
  text-decoration: none;
  color: #fff;
  font-family: "Oswald", sans-serif;
  letter-spacing: 0.5;
  font-size: 14px;
}

.recent-post__title:hover {
  color: #c7a17a;
}

.recent-post__time {
  display: block;
  font-size: 13px;
  line-height: 14px;
  color: #c7a17a;
  font-family: "Merriweather", serif;
  font-style: italic;
  margin-top: 3px;
}

.contact-us {
  margin-bottom: 20px;
}

.contact-us a {
  text-decoration: none;
  color: #c7a17a;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
}

.contact-us span {
  display: inline-block;
  color: #acacac;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  margin-top: 10px;
}

.your-email {
  display: flex;
  align-items: center;
}

.your-email input {
  border: 1px solid #acacac;
  background-color: transparent;
  margin: 0;
  font-family: "Open Sans", sans-serif;
  width: calc(100% - 44px);
  font-size: 11px;
  padding: 11px 12px;
  color: #bcbcbc;
  font-style: normal;
  margin-right: 5px;
  outline: none;
}

.your-email button {
  width: 39px;
  height: 39px;
  line-height: 35px;
  font-size: 12px;
  color: #fff;
  padding: 0;
  border: 2px solid #c7a17a;
  background-color: #c7a17a;
}

.other-location p {
  color: #acacac;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
}

.other-location {
  padding-bottom: 25px;
  margin-bottom: 25px;
}

.other-location.border-bottom {
  border-bottom: 1px solid #45423e;
}

.back-to-top {
  position: fixed;
  width: 30px;
  right: 30px;
  bottom: 65px;
  margin: 0;
  z-index: 10000;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  display: block;
  color: #fff;
  font-size: 20px;
  box-sizing: border-box;
  background-color: #c7a17a;
  color: #fff;
  outline: none;
  border: none;
  cursor: pointer;
}

.back-to-top:hover {
  background-color: #9a6e41;
}

.back-to-top i {
  transform: rotate(-90deg);
}
